ssl_certificate                 /usr/local/share/ca-certificates/greedybear.crt;
ssl_certificate_key             /etc/ssl/private/greedybear.key;
# ssl_password_file             /etc/ssl/private/ssl_passwords.txt;
# ssl_protocols                 TLSv1.2 TLSv1.3;
# ssl_ciphers                   HIGH:!aNULL:!MD5;
# ssl_prefer_server_ciphers     on;
